<!DOCTYPE html>
<html lang="en">

<head>
  <title>S'enregistrer</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <form action="/signup" method="POST">
    <label for="username">Votre nom</label>
    <input type="text" name="username" id="username">
    <label for="email">Email</label>
    <input type="email" name="email" id="email">
    <label for="pwd">Mot de passe</label>
    <input type="password" name="pwd" id="pwd">
    <label for="confirm-pwd">Confirmer le mot de passe</label>
    <input type="password" name="confirm_pwd" id="confirm-pwd">
    <input type="submit" value="Se connecter">
  </form>
</body>

</html>
