<!DOCTYPE html>
<html lang="en">

<head>
  <title>S'enregistrer</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <form action="/signup" method="POST">
    <label for="login">Email</label>
    <input type="email" name="login" id="login">
    <label for="pwd">Mot de passe</label>
    <input type="pwd" name="pwd" id="pwd">
    <label for="confirm-pwd">Confirmer le mot de passe</label>
    <input type="pwd" name="confirm-pwd" id="confirm-pwd">
    <input type="submit" value="Se connecter">
  </form>
</body>

</html>
